# Subversion
.svn/

# Obsidian
.obsidian/

# Local compiled releases
/release/
/releases/

# OS junk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store

# Visual Studio machine-local files
.vs/
*.user
*.suo

# Build outputs (safe to ignore; always regenerated)
**/bin/
**/obj/